.chart{
    
    background-color: white;
    border-radius: 50px;
}

.chart-container {
    position: relative;
    width: 100%;
}

.input-data{
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-data input{
    text-align: center;
    width: 570px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: -10;
    background-color: white;
    border: none;
    font-size: 14px;
   border-top-left-radius: 10px;
   border-bottom-left-radius: 10px;
}

.input-data button{
    font-size: 14px;
    height: 50px;
    border: none;
    width: 100px;
    background-color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}

.logout-button{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: red;
    color: white;
    width: 150px;
    border: none;
    height: 50px;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 50px;
    border: none;
}