.payment-container{
    margin-top: 150px;
}

.payment-block{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    justify-content: center;
    border-radius: 16px;
}

.payment-select{
    width: 230px;
    height: 60px;
    border: none;
    border-radius: 50px;
    background-color: #DEDCDC;
    margin-bottom: 60px;
    text-align: center;
}

.payment-input{
    width: 400px;
    height: 44px;
    border-radius: 8px;
    border: 1px solid #C4C4C4;
}

.input-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.input-block:last-child{
    margin-bottom: 0px;
}

.input-block label{
    text-align: left;
}

.checkout{
    background-color: white;
    width: 470px;
    height: 400px;
    border-radius: 16px;
}

.checkout p{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 500;
    color: #000000;
    margin-top: 20px;
    width: 400px;
    height: 20px;
    margin-left: 40px;
    margin-top: 20px;
}

.checkout h3{
    display: flex;
    justify-content: space-between;
    margin-top: 30%;
}

.checkout button{
    background-color: #000000;
    color: white;
    width: 80%;
    height: 50px;
    border-radius: 30px;
    border: none;
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
    margin-left: 10%;
    bottom: 0;
}

@media screen and (max-width: 800px) {
    .payment-container{
        margin-top: 50px;
    }

    .payment-block{
        height: 400px;
    }

    .payment-select{
        width: 200px;
        height: 50px;
    }

    .payment-input{
        width: 300px;
        height: 40px;
    }

    .checkout{
        width: auto;
        height: auto;
        justify-content: center;
        padding-bottom: 20px;
    }

    .checkout p{
        width: auto;
        margin-right: 20px;
        margin-left: 20px;
        margin-top: 50px;
    }
    
}